body {
  margin: 1rem;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

.container {
  background:#aeaeae;
  margin:0 auto;
  margin-top:30px;
   width:300px;
  height:300px;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  padding-top:25px;
}

/*===---bacon---===*/
.bacon {
  margin:0 auto;
  width:80px;
}
.red {
  height:10px;
  width:75px;
  background:#c8102e;
}
.white {
  height:8px;
  width:75px;
  background:#de6f81;
}
.bubble1 {
  height:15px;
  width:45px;
  border-radius:100%;
  background:#c8102e;
  margin-top:-32px;
}
.bubble2 {
  height:15px;
  width:45px;
  margin-left:31px;
  margin-top:3px;
  border-radius:30%;
  background:#c8102e;
}
/*===---end bacon---===*/



button {
  margin: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
}

footer {
  padding: 2rem;
}

.butcherPig {
  width: 12rem;
}

.userInput {
  border-radius: .5rem;
  font-size: 1rem;
  height: 5rem;
  width: 20rem;
  text-align: center;
}

.inputArea {
  background-color: #606060;
  color: #fff;
  border-radius: .5rem;
  padding: 1rem;
}

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 2rem;
  }
  .userInput{
    font-size: 1rem;
    height: 5rem;
    width: 90%;
    padding: 1rem;
    text-align: center;
  }
}
